// Styles pertaining to the "using the data" partial

.about-tables {
  font-size: 0;

  .table {
    display: inline-block;
    font-size: 16px;
    width: 33.3333%;
    padding: 14px $content-spacing-small;
    min-width: 400px;

    .title {

    }
  }
}
