// Styles pertaining to the "using the data" partial

.about-tables {
  font-size: 0;

  .table {
    font-size: 12px;
    width: 50%;
    min-width: 500px;
    padding: 14px $content-spacing-small/2;
    float: left;

    .title {
      font-size: 16px;
      font-weight: bold;
      background-color: $color-background-off;
      padding: 4px $content-spacing-small/2 0;
    }
    > .descr {
      background-color: $color-background-off;
      padding: 0 $content-spacing-small/2 4px;
    }
  }
  .column-container {
    padding: 4px $content-spacing-small/2;
    .name {
      font-size: 14px;
    }
    .descr {
      color: #9b9b9b;
    }
    .column {
      padding-top: 4px;

      &:nth-child(1) {
        padding-top: 0;
      }
    }
  }
}

.terminology-list {
  list-style: none;
  font-size: 0;

  li {
    display: inline-block;
    font-size: 14px;
    width: 33.3333%;
    padding: $content-spacing-small/2 $content-spacing-small/2 0 0;
    vertical-align: top;
  }
  .word {
    font-weight: bold;
  }
}
