$content-spacing: 80px;
$content-spacing-small: 25px;
$color-title: #333;
$color-content: #2f5f5d;

// High level
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a, label {
  &, &:link, &:visited {
    text-decoration: none;
    color: #ffa146;
    cursor: pointer;
  }
  &:hover, &:active {
    color: #bc7137;
  }
}
html, body {
  font-family: Raleway, serif;
  background-color: #f9f9f9;
  color: $color-content;
  min-width: 1000px;
}

.flex {
  display: flex;
}
.flex-liquid {
  flex: 1 1 auto;
}

.bold {
  font-weight: bold;
}
%restricted {
  padding: 0 $content-spacing;
  max-width: 1600px;
}

.state {
  display: none;
}

// #### Header
.carousel {
  background-color: #efefef;
  padding: 30px 0;
  font-size: 0;
  white-space: nowrap;
  overflow: auto;

  img {
    height: 70vh;
    max-height: 700px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 20px;

    &:nth-child(2) {
      padding-left: 0;
    }
  }

  .padding {
    width: $content-spacing;
    display: inline-block;
    height: 100px;
    vertical-align: middle;
  }
}

.content-push {
  height: 60px;
}
.content-push-small {
  height: $content-spacing-small;
}
.container {
  @extend %restricted;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: $color-title;
}

.home-title {
  font-size: 34px;
  font-weight: bold;
  color: $color-title;
}

.home-nav {
  list-style: none;
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;

    &.spacer {
      width: 1px;
      background-color: #a7a7a7;
      height: 10px;
      margin: 0 10px;
    }
  }
}

// #### Our Submission
.section-subtitle {
  font-weight: bold;
}
.researchers {
  list-style: disc;
}
.download {
  flex: 0 0 400px;
  font-size: 16px;
  text-align: center;

  i {
    font-size: 46px;
    padding-bottom: 8px;
  }
}
.submission-flex {
  align-items: center;
}
.submission-text {
  border-right: 1px solid #e8e8e8;
  padding-right: $content-spacing;
}

// #### Accessing the data
.required-software {
  > li {
    padding-top: $content-spacing-small;
  }
  p,
  .padded {
    padding-top: 8px;
    width: 800px - $content-spacing;
  }
  img {
    width: 100%;
  }
  .required-software-flex {
    flex: 0 0 800px;

    p,
    .padded {
      width: 100%;
      padding-right: $content-spacing;
    }
  }

  .step-by-step li {
    padding-top: 4px;
  }
}

.state + .software-setup .hide {
  display: none;
}
.state:checked + .software-setup .hide {
  display: block;
}
