* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a, a:link, a:visited, label, label:link, label:visited {
  text-decoration: none;
  color: #ffa146;
  cursor: pointer; }
a:hover, a:active, label:hover, label:active {
  color: #bc7137; }

html, body {
  font-family: Raleway, serif;
  background-color: #f9f9f9;
  color: #2f5f5d;
  min-width: 1000px; }

.page-title {
  font-size: 34px;
  font-weight: bold;
  color: #333; }

.page-nav {
  list-style: none;
  font-size: 0; }
  .page-nav li {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px; }
    .page-nav li.spacer {
      width: 1px;
      background-color: #a7a7a7;
      height: 10px;
      margin: 0 10px; }

.carousel {
  background-color: #f3f3f3;
  padding: 30px 0;
  font-size: 0;
  white-space: nowrap;
  overflow: auto; }
  .carousel img {
    height: 70vh;
    max-height: 700px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 20px; }
    .carousel img:nth-child(2) {
      padding-left: 0; }
  .carousel .padding {
    width: 80px;
    display: inline-block;
    height: 100px;
    vertical-align: middle; }

.container {
  padding: 0 80px;
  max-width: 1600px; }

.flex {
  display: flex; }

.flex-liquid {
  flex: 1 1 auto; }

.state {
  display: none; }

.container {
  margin: 0 auto; }
  .container p {
    padding-top: 6px;
    width: 720px; }

.guide {
  background-color: #f3f3f3;
  padding: 12.5px 40px;
  align-items: center;
  margin-top: 25px; }
  .guide .title {
    padding-top: 0;
    padding-right: 25px;
    font-weight: bold; }
  .guide img {
    width: 100%;
    padding-top: 25px; }
  .guide .step-by-step {
    padding-right: 25px; }
    .guide .step-by-step li {
      padding-top: 8px; }
    .guide .step-by-step ul {
      padding-left: 18px; }
  .guide .left-flex {
    flex: 0 0 800px; }

.state:not(:checked) + .guide {
  display: none; }

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #333; }

.section-subtitle {
  font-weight: bold;
  padding-top: 25px; }

.subsection {
  padding-top: 25px; }

.content-push {
  height: 60px; }

.content-push-small {
  height: 25px; }

.padded {
  width: 720px; }

.top-padded {
  padding-top: 6px; }

.bold {
  font-weight: bold; }

.sub-researchers {
  list-style: disc; }

.sub-download {
  flex: 0 0 400px;
  font-size: 16px;
  text-align: center; }
  .sub-download i {
    font-size: 46px;
    padding-bottom: 8px; }

.submission-flex {
  align-items: center; }

.submission-text {
  border-right: 1px solid #e8e8e8;
  padding-right: 80px; }

.about-tables {
  font-size: 0; }
  .about-tables .table {
    font-size: 12px;
    width: 50%;
    min-width: 500px;
    padding: 14px 12.5px;
    float: left; }
    .about-tables .table .title {
      font-size: 16px;
      font-weight: bold;
      background-color: #f3f3f3;
      padding: 4px 12.5px 0; }
    .about-tables .table > .descr {
      background-color: #f3f3f3;
      padding: 0 12.5px 4px; }
  .about-tables .column-container {
    padding: 4px 12.5px; }
    .about-tables .column-container .name {
      font-size: 14px; }
    .about-tables .column-container .descr {
      color: #9b9b9b; }
    .about-tables .column-container .column {
      padding-top: 4px; }
      .about-tables .column-container .column:nth-child(1) {
        padding-top: 0; }

.terminology-list {
  list-style: none;
  font-size: 0; }
  .terminology-list li {
    display: inline-block;
    font-size: 14px;
    width: 33.3333%;
    padding: 12.5px 12.5px 0 0;
    vertical-align: top; }
  .terminology-list .word {
    font-weight: bold; }

/*# sourceMappingURL=global.css.map */
