$content-spacing: 80px;
$content-push: 60px;
$content-spacing-small: 25px;
$color-title: #333;
$color-content: #2f5f5d;
$color-background-off: #f3f3f3;

@import 'page';
@import 'shared';
@import 'our-submission';
@import 'using-the-data';
